<!-- CLASES DESTACADAS -->
<section class="container mt-5">
    <!-- CLASES DESTACADAS -->
    <section class="container mt-5">
        <h2 class="text-center mb-4 text-light"><i class="fas fa-star me-2"></i>Clases destacadas</h2>

        <div class="row g-4 g-md-3 justify-content-center text-center mt-5">
            @for (clase of clasesDestacadas; track $index) {
            <div class="col-12 col-sm-12 col-md-4 d-flex justify-content-center">
                <article class="card h-100">
                    <div class="card-img">
                        <div class="card-imgs" [ngStyle]="{'background-image': 'url(' + clase.image + ')'}"></div>
                    </div>
                    <div class="project-info">
                        <div class="d-flex align-items-center mb-2">
                            <i class="{{ clase.icono }} me-2 fs-5 text-primary"></i>
                            <span class="fw-bold">{{ clase.nombre }}</span>
                            <span class="badge bg-secondary ms-auto">GYM</span>
                        </div>
                        <span class="text-body-emphasis" style="text-align: justify;">
                            {{ clase.descripcion }}
                        </span>

                        <div class="text-center mt-3">
                            <button class="read-more-btn">
                                <a [routerLink]="['/clases', clase.id]"
                                    class=" text-uppercase fw-bold text-decoration-none text-light">
                                    Ver más
                                </a>
                            </button>
                        </div>
                    </div>
                </article>
            </div>
            }
        </div>
    </section>

</section>