<div class="container mt-5">
  <div class="titulo-reglas text-center mb-5">
    <h2 class="display-5 fw-bold">
      <mat-icon class="icono-titulo">gavel</mat-icon> Normas del Sitio
    </h2>
    <div class="linea-azul mt-2"></div>
  </div>

  <div class="row justify-content-center">
    @for(regla of reglas; track regla){

      <div class="col-md-6 mb-4">
        <mat-card class="norma-card p-3 shadow">
        <mat-card-header class="border-0 bg-transparent mb-2">
          <mat-card-title class="d-flex align-items-center gap-2">
            <mat-icon class="icono-card">{{ regla.icono }}</mat-icon> 
            <span class="fw-semibold fs-5">{{ regla.titulo }}</span>
          </mat-card-title>
        </mat-card-header>
        
        <mat-divider class="divisor"></mat-divider>
        
        <mat-card-content class="mt-3">
          <mat-list>
            <mat-list-item *ngFor="let punto of regla.puntos" class="norma-item">
              <mat-icon class="icono-punto">check_circle</mat-icon> 
              <span>{{ punto }}</span>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div> 
  }
  </div>
</div>

<app-conducta></app-conducta>
