.clase-detalle-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .clase-detalle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(40%) blur(1px);
    z-index: 0;
  }
  
  .clase-detalle-overlay {
    position: relative;
    z-index: 1;

    max-width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
  }
  

   
  
  .read-more-btn {
    position: relative;
    display: inline-block;
    padding: 5px 24px;
    font-size: 0.95rem;
    font-weight: 600;
    color: #ffffff;
    background: #0a2540;
    /* azul oscuro elegante */
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s ease, color 0.3s ease;
    z-index: 1;
}

.read-more-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, white, transparent);
    z-index: 2;
    transition: left 0.5s ease-in-out;
}

.read-more-btn:hover::before {
    left: 100%;
}

.read-more-btn:hover {
    background: #102d4a;
    color: #ffffff;
}