<footer class="bg-footer text-white py-4 mt-5">
  <div class="container text-center">
    <div class="footer-brand mb-3">
      <img [src]="logo" style="height: 100px;" alt="Logo FitZone" class="logo" />

    </div>

    <div class="social-links mb-4">
      <a href="https://www.facebook.com/profile.php?id=100068961384023" target="_blank" class="social-icon">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/gymfitzonerikiriki/profilecard/?igsh=OWU1bnFrY2F0dzQ3" target="_blank" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://wa.me/4494014956" target="_blank" class="social-icon">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>

    <div class="footer-nav mb-3">
      <a routerLink="/" class="footer-link">Inicio</a>
      <a routerLink="/clases" class="footer-link">Clases</a>
      <a routerLink="/videos" class="footer-link">Videos</a>
      <a routerLink="/inscripcion" class="footer-link">Inscripción</a>
      <a routerLink="/contacto" class="footer-link">Contacto</a>
      <a routerLink="/reglas" class="footer-link">Reglas</a>

    </div>

    <p class="text-secondary small mb-0">
      Proyecto universitario - Todos los derechos reservados © {{ year }}
    </p>
  </div>
</footer>