<div class="container d-flex justify-content-center gap-4 flex-wrap mt-5">
    @for (card of tarjetas; track card.id) {
      <div class="cont">
        <div class="card">
          <div class="front">
            <div class="card-top">
              <p class="card-top-para text-light">{{ card.titulo }}</p>
            </div>
            <img [src]="card.imagen" alt="Perfil" class="profile-image" />
            <p class="follow text-light">{{ card.textoFrente }}</p>
          </div>
          <div class="back">
            <p class="heading text-light">{{ card.trasera }}</p>
            <div class="icons">
                @for (icon of card.icons; track icon.class) {
                    <a [href]="icon.url" target="_blank">
                        <i [class]="icon.class" style="font-size: 32px; color: #ffffff;"></i>
                      </a>
                  }
                </div>
              </div>
            </div>
          </div>
        }
  </div>