<app-buscador (buscar)="filtrarClases($event)"></app-buscador>
<section class="container mt-5">

  @if (clasesDestacadas.length > 0;) {
    <h2 class="text-center mb-4 text-light">
      <i class="fas fa-dumbbell me-2"></i>Clases Disponibles
    </h2>

    <div class="masonry-container">
      @for (clase of clasesDestacadas; track $index) {
        <div class="masonry-item">
          <div class="card">
            <img [src]="clase.image" class="card-img-top" [alt]="clase.nombre">
            <div class="card-body">
              <h5 class="card-title">{{ clase.nombre }}</h5>
              <p class="card-text">{{ clase.descripcion }}</p>

              <div class="d-flex justify-content-center mt-3">
                <a [routerLink]="['/clases', clase.id]">
                  <button class="read-more-btn">
                    DETALLES
                    <div id="clip">
                      <div id="leftTop" class="corner"></div>
                      <div id="rightBottom" class="corner"></div>
                      <div id="rightTop" class="corner"></div>
                      <div id="leftBottom" class="corner"></div>
                    </div>
                    <span id="rightArrow" class="arrow"></span>
                    <span id="leftArrow" class="arrow"></span>
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  } @else {
    <div class="text-center text-light">
      <h2 class="mb-4"><i class="fas fa-exclamation-circle me-2"></i>No tenemos esas clases disponibles...</h2>
      <p class="lead">Lo sentimos.</p>
    </div>
  }
  
</section>

